/* Universal styles */

.App {
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 100vh;
  margin: 0 15vw;
}

button {
  background-color: rgb(33, 33, 245);
  color: white;
  border-radius: 3px;
  border: none;
  width: 20%;
  height: 3rem;
}

button:hover {
  background-color: white;
  color: rgb(33, 33, 245);
  border: 1px solid rgb(33, 33, 245);
}

button:active {
  background-color: rgb(100, 33, 245);
  color: white;
}

/* Input section styles */

#input-section {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
}

#input-section form {
  display: flex;
  flex-direction: column;
}

#input-section label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

#input-section textarea {
  width: 60vw;
  height: 15vh;
}

.submit {
  display: flex;
  justify-content: space-between;
}

.preset-box {
  display: flex;
  flex-direction: column;
}

select {
  border-radius: 5px;
}

/* Response section styles */

#responses {
  margin-top: 2rem;
}

.single-response-block {
  display: grid;
  grid-template: "prompt-label prompt" 1fr
                 "response-label response" 1fr
                 / 1fr 4fr;
  background-color: lightgray;
  border-radius: 12px;
  padding: 0 1rem;
  margin: 1rem 0;
}

.response-component {
  display: inline-block;
}

.label {
  font-weight: bold;
}

.prompt-label {
  grid-area: "prompt-label";
}

.prompt {
  grid-area: "prompt";
}

.response-label {
  grid-area: "response-label";
}

.response {
  grid-area: "response";
}